@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --off-white: hsl(33, 100%, 98%);
  --tan: hsl(27, 66%, 92%);
  --dark-gray: hsl(28, 10%, 53%);
  --red-orange: hsl(10, 79%, 65%);
  --dark-brown: hsl(25, 47%, 15%);
  width: 100svw;
  min-height: 100svh;
  background-color: var(--tan);
  font-size: 12px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav {
  display: flex;
  top: 0;
  position: fixed;
  width: 100svw;
  height: 60px;
  background-color: var(--red-orange);
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

nav > div {
  display: flex;
  height: 100%;
  align-items: center;
}

nav > div > button {
  height: 100%;
  background-color: inherit;
  color: var(--tan);
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

nav > div > button:hover {
  color: var(--dark-brown);
  background-color: var(--tan);
}

#logout-button {
  display: inline-block;
}

#avatar-div {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

#avatar {
  margin: 0 5px;
  display: inline-block;
  background-color: white;
  object-fit: cover;

  align-content: center;
  text-align: center;
}

#user-display {
  display: block;
  color: var(--tan);
  height: 100%;
  align-content: center;
}

#register-login-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100svw;
  height: 100svh;
  background-color: var(--red-orange);
  z-index: 5;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--tan);
  font-weight: bolder;
  color: #f8e9dd;
  gap: 0px;
}

#home h1 {
  font-size: xxx-large;
  line-height: 1;
}

#home > .logo {
  width: 120px;
  margin-bottom: -20px;
}

#home-buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
}

#home-buttons > button {
  margin-top: 10px;
  color: var(--red-orange);
  background-color: var(--tan);
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#home-buttons > button:hover {
  scale: 1.05;
}

#register-login-overlay > form {
  display: none;
  gap: 10px;
  flex-direction: column;
  background-color: var(--off-white);
  max-width: 400px;
  padding: 20px;
  border-radius: 12px;
}

#register-login-overlay > form > label {
  color: var(--red-orange);
  margin-bottom: -8 px;
}

#register-login-overlay > form > h1 {
  margin-bottom: -30px;
}

#forgot-form > .form-close,
#reset-password-form > .form-close {
  top: -30px;
}

#forgot-form > h1,
#reset-password-form > h1 {
  line-height: 0.9;
}

.form-close {
  position: relative;
  color: var(--red-orange);
  top: -10px;
  left: 150px;
  z-index: 3;
  cursor: pointer;
}

.form-close:hover {
  color: var(--dark-brown);
}

#register-login-overlay > form > button {
  background-color: var(--red-orange);
  color: var(--tan);
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#register-login-overlay > form > button:hover {
  scale: 1.05;
}

#register-login-overlay > form > a {
  font-weight: bolder;
  margin-top: -12px;
  text-decoration: none;
  color: var(--red-orange);
  transition: all 0.1s;
  cursor: pointer;
}

#register-login-overlay > form > a:hover {
  scale: 1.02;
  color: var(--dark-brown);
}

main {
  position: absolute;
  height: 100svh;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  min-width: 310px;
  transition: all 0.5s;
}

#expense-section {
  display: none;
  background-color: var(--off-white);
  color: var(--red-orange);
  width: 350px;
  padding: 18px;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
  /* padding-bottom: 40px; */
}

#expense-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  margin-top: 10px;
}

#th-date {
  width: 48%;
}

th {
  font-size: small;
  font-weight: bolder;
  padding: 8px;
  background-color: var(--red-orange);
  color: var(--tan);
  text-decoration: underline;
}

td {
  color: black;
  padding: 2px 8px;
  font-weight: normal;
  background-color: var(--tan);
}

tbody > :nth-child(even) > td {
  background-color: var(--off-white);
}

td,
th {
  border: 1px solid var(--off-white);
  text-align: left;
}

#balance {
  padding-top: 4px;
  font-size: 25px;
  transition: all 0.5s;
  width: 190px;
  border: none;
  color: var(--off-white);
  padding-left: 12px;
  z-index: 1;
}

input[type="number"] {
  appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

.dollar-sign {
  position: relative;
  margin-bottom: -33px;
  font-weight: 100;
}

#balance-panel {
  display: flex;
  flex-direction: column;
  padding: 18px;
  background-color: var(--red-orange);
  color: var(--off-white);
  height: 110px;
  border-radius: 12px;
}

#total-balance {
  display: flex;
  justify-content: space-between;
}

#balance-text {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 60px;
}

#add-balance {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#balance-add {
  border: none;
  background-color: var(--tan);
  color: var(--red-orange);
  padding: 4px;
  width: 83%;
  border-radius: 3px;
}

#balance-submit {
  background-color: var(--off-white);
  color: var(--dark-gray);
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#balance-submit:hover {
  scale: 1.05;
}

#spending-panel {
  padding: 18px;
  background-color: var(--off-white);
  color: var(--dark-gray);
  height: 380px;
  border-radius: 12px;
}

#spending-panel h1 {
  color: var(--dark-brown);
}

#spending-panel h2 {
  color: var(--dark-brown);
  font-size: 14px;
}

#total {
  display: flex;
  flex-direction: column;
}

#chart {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 18px;
  width: 100%;
  height: 58%;
  gap: 12px;
  overflow: hidden;
}

#labels {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.label {
  width: calc((100% / 7) - 10px);
}

#bars {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 100%;
  margin-top: 15px;
}

.bar {
  background-color: var(--red-orange);
  width: calc((100% / 7) - 10px);
  border-radius: 4px;
  height: 1px;
  transition: all 0.3s;
  transform-origin: bottom;
}

.bar:hover {
  opacity: 0.7;
  scale: 1.05;
}

#total-section {
  width: 100%;
  height: 90px;
  display: flex;
  border-top: 3px solid var(--tan);
  align-items: center;
  justify-content: space-between;
}

#monthly-total {
  padding-top: 4px;
  width: 200px;
  font-size: 25px;
  transition: all 0.5s;
  border: none;
  padding-left: 12px;
  z-index: 1;
}

#change {
  display: flex;
  flex-direction: column;
  text-align: end;
}

#tooltip {
  display: none;
  position: absolute;
  width: fit-content;
  left: 20%;
  padding: 5px;
  background-color: var(--dark-brown);
  border-radius: 3px;
  color: var(--off-white);
  text-align: center;
  font-weight: 700;
}

#expense-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--off-white);
  color: var(--red-orange);
  height: 55px;
  border-radius: 12px;
}

#expense-add {
  border: none;
  background-color: var(--tan);
  padding: 4px;
  width: 40%;
  border-radius: 3px;
}

#expense-date {
  background-color: var(--tan);
  border: none;
  color: var(--dark-gray);
  padding: 4px;
  border-radius: 3px;
  cursor: text;
}

#expense-submit {
  background-color: var(--red-orange);
  color: var(--tan);
  padding: 4px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#expense-submit:hover {
  scale: 1.05;
}

#reset-panel {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--off-white);
  width: 100%;
  border-radius: 12px;
}

#reset {
  background-color: var(--red-orange);
  color: var(--tan);
  padding: 4px 6px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#warning-overlay {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.69);
  z-index: 1;
}

#warning-message {
  display: flex;
  flex-direction: column;
  gap: 6px;
  top: 40%;
  text-align: center;
  justify-content: center;
  background-color: var(--red-orange);
  color: var(--off-white);
  font-size: 20pt;
  font-weight: bolder;
  line-height: 1.2;
  padding: 10px;
  width: 270px;
  height: 185px;
  border-radius: 12px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

#warning-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#yes,
#no {
  background-color: var(--tan);
  color: var(--red-orange);
  padding: 4px 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s;
}

#reset:hover,
#yes:hover,
#no:hover {
  scale: 1.05;
  opacity: 0.9;
}

@media screen and (min-width: 500px) {
  main {
    flex-direction: row;
  }

  main-panels {
    width: 400px;
  }

  #balance-add {
    width: 85%;
  }

  #expense-add {
    width: 48%;
  }

  #expense {
    width: 180px;
  }
}
